/* Medida para Tablets Horizontal*/

@media screen and (max-width: 1024px){
	header nav ul li {
		margin: 0px 5px 10px 0px;
		background: #DF013A;
		padding: 10px;
	}

	header nav ul li a{
		color: #FFFFFF;
	}

	#main #no-slide {
		display: none;
	}

	#main #articles_list #pagination p a {
		margin: 10px 20px 10px 20px;
		background: #DF013A;
		color: #FFF;
		padding: 10px;
	}

	footer .widget {
		width: 50%;
	}

	.widget ul li {
		border-bottom: 1px solid #333333;
		padding: 5px 0px;
	}
}

/* Medida para Tablets Vertical*/

@media screen and (max-width: 768px){
	header #logo {
		width: 100%;
	}

	header nav {
		width: 100%;
		float: left;
		margin-top: 10px;
	}

	#main #articles_list {
		width: 100%;
	}

	#main aside {
		width: 100%;
		clear: both;
	}

	.widget {
		margin-bottom: 40px;
		width: 100%;
	}
}

/* Medida para Smartphones*/

@media screen and (max-width: 400px) {
	#main #articles_list article .thumb {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}

	footer .widget {
		width: 100%;
	}

	.post-prev {
		width: 100%;
	}

	.post-next {
		width: 100%;
	}

	#main #articles_list #comentarios {
		width: 100%;
	}
}